  include *.in
  include *.md
  include *.txt
  include *.yml
  include Dockerfile
  include LICENSE
  include docs
  include makefile
  include tox.ini
  recursive-include docs *.py
  recursive-include docs *.rst